Temp
Library
obj
.DS_Store
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
Library/CurrentLayout.dwlt
Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll
Library/metadata/c2/c20b65a17d1c54d30aa65ca8d2c610f7
Assets/Cerebro/Prefabs/Resources/VerbalizeLandingPage.prefab
Library/metadata/2f/2fb7a1d12de3743b59bc8968fcbcdd79
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/metadata/00/00000000000000004000000000000000
Library/metadata/35/35b49bb10f5c240bb9dfd97abc4974e5
Library/assetDatabase3
Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll.mdb
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll.mdb
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/metadata/7d/7d9bf926a45424f7792b2c185571a7dd
Library/metadata/00/00000000000000006100000000000000
Library/metadata/25/2528ab7db09d144088460e5ac779a3c8
Library/EditorUserBuildSettings.asset
Library/metadata/58/58ec56895196b45d1b46340e829eefe5
